<div style="text-align: center;margin: 30px;">
  <div>
    <h1>下記から本登録を行ってください</h1>
  </div>
  <div style="margin-top: 32px;">
    <a href="<%= Logoq::URL::FRONT_URL + '?' + @metadata %>"
       style="padding: 8px 16px;background-color: #03b398;border-radius: 8px;color: white;text-decoration-line: none;"
    >
      メールアドレスの確認
    </a>
  </div>
</div>